* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 12%;
    background-color: rgb(250, 244, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 2px rgb(153, 11, 11) solid;*/
    
}

.fondo {
    width: 55%;
    margin-top: 1rem;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: .7rem;
}

.imgMobil {
    display: none;
}

.imgDesk {
    width: 300px;
    display: flex; 
    justify-content:flex-end;
    border-radius: .7rem 0 0 .7rem;
}

article {
    margin: 1.7rem;
    padding: .2rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.perfume {
    font-size: .8rem;
    font-weight: bold;
    line-height: 1rem;
    letter-spacing: .3rem;
    color: rgb(167, 166, 166);
   
}

.nombre {
    margin: 1rem 0;
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', sans-serif;
    font-size: 1.7rem;
    line-height: 1.9rem;
}

.description {
    margin: .9rem 0;
    font-size: .9rem;
    line-height: 1.4rem;
    color:rgb(167, 166, 166);
}

.prices {
    margin: 1rem 0;
    height: 12%;
    display: flex;
    align-items: center;
}

.finalprice {
    color: #3D8168;
    font-weight: solid;
    font-size: 2rem;
    font-family: 'Fraunces', sans-serif;
}

.priceundiscount {
    padding-left: 1rem;
    font-size: .8rem;
    color: rgb(167, 166, 166);
    text-decoration: line-through;
}

.carrito > button {
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    background-color: #3D8168;
    color: white;
    font-size: 1rem;
    font-weight: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer {
    /*border: 2px rgb(153, 11, 11) solid;*/

}